ul {
    list-style: none;
}

.assignature-select {
  margin-bottom: 15px;
}

.career-select {
  margin-bottom: 15px;
}

.from-action-container {
  padding: 20px;
}

.upload-form-container {
  position: relative;
}

.float-right {
  position: absolute !important;
  bottom: 2vh;
  right: 0;
}

.search-button {
  position: absolute;
  left: 0;
}

.delete-button {
  margin-left: 5%;
}