body {
    background-image:url("./ubyd.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

h3 {
    color: black;
    background-color: whitesmoke;
}

#logoUNGS {
    width: 90%;
    height: 10%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}